* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
}

.calc {
    width: 500px;
    height: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.display {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.calc-buttons {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.7%;
}

.row.keypad {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row .pad {
    width: 24.475%;
    border: none;
}

.row .clear-pad.pad {
    width: 49.65%;
}

.row .zero-pad.pad {
    width: 74.825%;
}

.row .pad:hover {
    background-color:#fcfcfc;
}

.row .pad:active {
    background-color: #cccccc;
}

.row .pad:last-child {
    background-color: #DF974C;
}

.row .pad:last-child:hover {
    background-color: #f2d5b7;
}

.row .pad:last-child:active {
    background-color: #b96f21;
}

